:root {
  /* Cores principais */
  --card-blue: #46b4f5;
  --card-red: #f54646;
  --card-black: #5c5c5c;

  /* Cores secundárias */
  --card-blue-darker: #3769968c;
  --card-red-darker: #9637378c;
  --card-black-darker: #2f2f2f8c;
}

.shadow {
  box-shadow: 0px 2px 11px -4px rgba(0, 0, 0, 0.35);
}

.card-wrapper {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  /* height: 500px; */
  height: fit-content;
  width: 470px;
  border-radius: 25px;
  background-color: var(--card-red);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
}

.card-body .body-row {
  height: 50px;
  width: 430px;
  background-color: var(--card-red-darker);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}

.card-body .body-row .body-row-text {
  text-align: end;
}